@import './_modules/common';

// Slider Addon Styles
@import './_modules/owl.carousel/owl.carousel';
@import './_modules/owl.carousel/owl.transitions';

.page{
    position: relative;
    z-index: 5;
    background-color: #fff;
}
.page-caption{
    margin-top: 70px;
    text-align: center;
    h2,h3{
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    h2{
        color: $COLOR_CAPTION;
        font-size: 28px;
    }
    h3{
        margin-top: 10px;
        color: $COLOR_SUB_CAPTION;
        font-size: 16px;
        line-height: 24px;
    }
}
.decoration-line{
    width: 80px;
    height: 3px;
    margin: 30px auto 40px auto;
    background-color: $COLOR_RED;
}

.header{
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    height: 500px;
    background-image: url(../images/banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1920px 600px;
}
.top-bar{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    padding: 0 30px;
    background-image: url(../images/banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1920px 600px;
    &.fixed{
        border-bottom: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
        .background-layer{
            background-color: rgba($COLOR_RED, 1);
        }
    }
    .background-layer{
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 101px;
        background-color: rgba($COLOR_RED, .95);
        transition: background .5s;
    }
    .logo{
        position: relative;
        z-index: 1;
        float: left;
        height: 100px;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 100px;
        span{
            display: inline-block;
            height: 40px;
            margin: 28px 10px 0 0;
            padding: 0 10px;
            color: $COLOR_RED;
            // font-size: 26px;
            font-weight: 700;
            line-height: 44px;
            background-color: #fff;
            box-shadow: 1px 1px 3px rgba(0,0,0,.1);
        }
    }
    .primary-menu{
        position: absolute;
        z-index: 1;
        right: 100px;
        left: 100px;
        height: 100px;
        margin: 0 200px;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        text-align: center;
        li{
            display: inline-block;
            a{
                display: block;
                height: 40px;
                margin: 30px 20px;
                padding: 0 15px;
                color: #fff;
                font-size: 18px;
                line-height: 40px;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                // @include transition;
                &.active{
                    border-color: #fff;
                }
            }
        }
    }
    .social-icons{
        float: right;
        a{
            display: block;
            float: left;
            width: 28px;
            height: 28px;
            margin: 35px 6px 0;
            color: #fff;
            line-height: 28px;
            text-align: center;
            text-decoration: none;
            border: 1px solid transparent;
            border: 1px solid rgba(255,255,255,1);
            border-radius: 50%;
            &:hover{
                color: $COLOR_RED;
                border-color: $COLOR_RED;
            }
        }
    }
}
.header-caption{
    position: relative;
    z-index: 2;
    margin-top: 180px;
    h2{
        color: #fff;
        font-size: 48px;
    }
    h3{
        margin-top: 20px;
        color: #fff;
        font-size: 28px;
        line-height: 28px;
    }
    a{
        display: inline-block;
        height: 36px;
        margin-top: 50px;
        padding: 0 60px;
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
        // border-radius: 4px;
        // @include transition;
    }
    .btn-live-contact{
        color: #fff;
        border: 1px solid #fff;
        &:hover{
            color: $COLOR_RED;
            background-color: #fff;
            border-color: #fff;
        }
    }
}
.header-background-image{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //@include gradient(#FFB88C, #DE6262);
    background-color: rgba($COLOR_RED, .95);
}

.service{
    margin-top: 500px;
    padding-top: 1px;
    padding-bottom: 80px;
    box-shadow: 0 -3px 3px rgba(0,0,0,.05);
}
.service-caption{
    text-align: center;
}
.reserve-service{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    .service-item{
        float: left;
        width: 254px;
        height: 300px;
        margin: 0 36px;
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 125px 110px;
    }
    .service-cards{
        background-image: url(../images/cards_gray.png);
    }
    .service-foldings{
        background-image: url(../images/foldings_gray.png);
    }
    .service-others{
        background-image: url(../images/bag_gray.png);
    }
    .service-subtitle{
        display: block;
        width: auto;
        height: 1px;
        margin: 130px 50px 0 50px;
        padding: 0 10px;
        color: $COLOR_SUB_CAPTION + 30;
        letter-spacing: 1px;
        line-height: 2px;
        font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
        border-right: 30px solid $COLOR_SUB_CAPTION + 40;
        border-left: 30px solid $COLOR_SUB_CAPTION + 40;
    }
    .service-title{
        color: $COLOR_CAPTION;
        font-size: 20px;
        margin-top: 25px;
    }
    .service-price{
        color: $COLOR_CAPTION;
        margin-top: 8px;
        font-size: 12px;
    }
    .service-btn-reserve{
        display: block;
        width: 180px;
        height: 36px;
        margin: 30px auto 0 auto;
        color: #fff;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        text-decoration: none;
        background-color: $COLOR_RED;
        border: 1px solid $COLOR_RED - 20;
        // border-radius: 4px;
        // @include transition;
        &:hover{
            background-color: $COLOR_RED - 20;
        }
    }
}
.service-more{
    text-align: center;
    margin-top: 10px;
    h5{
        width: 280px;
        height: 19px;
        margin: 0 auto;
        padding: 0;
        color: $COLOR_CAPTION;
        font-weight: normal;
        border-bottom: 1px solid #ECEDEE;
        span{
            display: block;
            width: 140px;
            margin: 0 auto;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
        }
    }
    a,span{
        display: inline-block;
        height: 32px;
    }
    a{
        display: inline-block;
        height: 32px;
        margin: 60px 15px 0 15px;
        padding: 0 30px;
        font-size: 14px;
        line-height: 36px;
        text-decoration: none;
        // border-radius: 4px;
        // @include transition;
        &:hover{
            border-color: $COLOR_RED;
        }
    }
    .btn-view-service{
        color: $COLOR_CAPTION + 30;
        border: 1px solid $COLOR_CAPTION + 30;
        &:hover{
            color: $COLOR_RED;
        }
    }
    .btn-live-contact{
        color: #fff;
        border: 1px solid $COLOR_BLUE - 20;
        background-color: $COLOR_BLUE;
        &:hover{
            border: 1px solid $COLOR_BLUE - 40;
            background-color: $COLOR_BLUE - 20;
        }
    }
}

.works{
    padding: 1px 0 80px 0;
    background-color: #f9fafb;
    border-top: 1px solid #ECEDEE;
    border-bottom: 1px solid #ECEDEE;
}
.works-slider{
    .owl-controls{
        width: 100%;
        height: 20px;
        margin-top: 30px;
        text-align: center;
    }
    .owl-page{
    	display: inline-block;
    	width: 10px;
    	height: 10px;
    	margin: 5px 5px;
    	background-color: #ccc;
    	border-radius: 5px;
        @include transition;
        &.active{
            background-color: $COLOR_RED;
        }
    }
}
.works-slide-items{
    overflow: hidden;
    .item{
        float: left;
        width: 246px;
        height: 246px;
        img{
            display: block;
            width: 226px;
            height: 226px;
            margin: 10px;
            background-color: #eee;
            border: none;
            // border-radius: 2px;
            opacity: .3;
        }
    }
}
.about{
    padding: 1px 0 80px 0;
    .members{
        margin-top: 80px;
        overflow: hidden;
        text-align: center;
        .avatar{
            display: inline-block;
            width: 160px;
            height: 160px;
            margin: 0 30px;
            text-decoration: none;
            border-radius: 50%;
            border: 3px dotted #ECEDEE;
            cursor: pointer;
            img{
                display: block;
                width: 160px;
                height: 160px;
                border-radius: 50px;
            }    
            &:hover img{
                @include transform(rotateY(180deg));
            }
        }
        .tip-text{
            width: 200px;
            height: 32px;
            margin: 30px auto;
            padding-top: 20px;
            color: $COLOR_SUB_CAPTION;
            line-height: 32px;
            font-size: 18px;
            font-weight: normal;
            text-align: center;
            border-top: 1px solid $COLOR_SUB_CAPTION + 30;
        }
    }
    .quotes{
        position: relative;
        width: 700px;
        height: 80px;
        margin: 60px auto 0 auto;
        // background-color: #f9fafb;
        border: 1px solid #ECEDEE;
        // border-radius: 5px;
        .indicator{
            position: absolute;
            top: -17px;
            border: 8px solid #fff;
            border-bottom-color: #f3f4f5;
            @include transition(.5s);
            @include transfunny;
        }
        &[data-user='1']{
            .indicator{
                left: 120px;
            }
            .item-1{
                opacity: 1;
                @include transform(translateY(0));
            }
        }
        &[data-user='2']{
            .indicator{
                left: 340px;
            }
            .item-2{
                opacity: 1;
                @include transform(translateY(0));
            }
        } 
        &[data-user='3']{
            .indicator{
                left: 565px;
            }
            .item-3{
                opacity: 1;
                @include transform(translateY(0));
            }
        }
        .item{
            position: absolute;
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            overflow: hidden;
            color: $COLOR_SUB_CAPTION;
            opacity: 0;
            @include transition(.5s);
            @include transfunny;
            @include transform(translateY(20px));
        }
    }
}
.contact{
    padding: 1px 0 80px 0;
    background-color: #f9fafb;
    border-top: 1px solid #ECEDEE;
}
.footer{
    height: 80px;
    background-color: #061524;
    .copyright{
        color: #ddd;
        font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial;
        font-size: 13px;
        line-height: 80px;
        text-align: center;
        text-transform: uppercase;
        a{
            color: $COLOR_YELLOW;
            text-decoration: none;
            &:hover{
                color: $COLOR_BLUE;
            }
        }
    }
}