$COLOR_PRIMARY: #f39b11;//#ED5565;
$COLOR_DARK: #101012;// #25282D; //#2C3E50;
$COLOR_YELLOW: #FDC409; //#F5A623;
$COLOR_GRAY: #1E1F26;
$COLOR_BLUE: #4fc1e9;
$COLOR_RED: #F36374;
$COLOR_CAPTION: #888;
$COLOR_SUB_CAPTION: #aaa;